/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1D1D1F;
    background: #f9f9f9;
    background-color: var(--background-light);
    text-align: center;
}



/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

nav.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo-container{
    display: flex;
    align-items: center;
}


.logo{
    width: 30px;
    margin-right: 1px;
}

.logo-text{
    font-weight: bold;
    font-size: 18px;
    color: #1D1D1F;
}




/* Encabezado */
header {
    background: transparent;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

header.scrolled {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a{
    text-decoration: none;
    color: #1D1D1F;
    font-weight: 500;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #ffffff; /* Asegura que el texto sea visible */
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: background 0.3s ease-in-out, transform 0.2s;
    font-size: 1rem;
}

.btn-light {
    background: white;
    color: #162c5b;
    border: 1px solid #ccc;
}

.btn-light {
    background: #f0f0f0;
}
.btn-primary {
    background: #2a4dd0;
    color: white;
    border: none;
}

.btn-primary:hover {
    background: #1d3bb8;
}


.btn-signin {
    background: transparent;
    border: none;
    color: #1D1D1F;
    font-weight: 500;
}

.btn-alt{
    background: #555;
}

/* Sección Hero */

.hero {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 20px;
}


.hero h1{
    font-size: 3em;
    font-weight: 600;
}
.hero h2{
    font-size: 42px;
    font-weight: 700;
    color: #1D1D1F;
    margin: 10px 0;
}

.hero p{
    font-size: 18px;
    color: #4F4F4F;
    margin-bottom: 20px;
}



.hero figure img {
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
}

.hero .highlight-text {
    display: inline-block;
    background: #F0F6FF;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 14px;
    color: #1B73F2;
    font-weight: 500;
    

}

.hero .buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.hero .btn-alt {
    background: white;
    color: #1B73F2;
    border: 2px solid #1B73F2;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 500;
}

/* Sección de Características */


.feature-grid {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}


.feature {
    background:  linear-gradient(to bottom, #EAF2FA, #FFFFFF);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 350px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.feature:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.features {
    margin-top: 50px; /* Ajusta el valor según necesites */
}


.features h2 {
    margin: 0 !important;
    margin-bottom: 25px !important;
    text-align: left;
    font-size: 2.4rem;
    color: #162c5b;
    font-weight: 550;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
}
.feature h3 {
    font-size: 1.2rem;
    color:  #0a0a0a;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
}

.features p {
    margin: 0 !important;
    margin-bottom: 40px !important;
    text-align: left;
    font-size: 1rem;
    color: #5a6274;
    max-width: 600px;
    margin: 0 auto 40px;
}
.feature p {
    font-size: 0.95rem;
    color: #5a6274;
    line-height: 1.5;
    text-align: center;
}


.feature figure img {
    width: 80px;
    height: 80px;
    background-color: #B0DAF0;
    padding: 10px;
    margin-bottom:15px;
    
    /* Aplica la máscara */
    -webkit-mask-image: url('../sgv/hexagono_redondeado3.svg');
    mask-image: url('../sgv/hexagono_redondeado3.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
}
/* Testimonios */
.testimonials {
    padding: 50px 20px;
    background: #fff;
}

blockquote {
    font-style: italic;
    color: #666;
}


/* Footer */

.footer {
    background: #fff;
    padding: 120px 20px;
    font-family: Arial, sans-serif;
}
.footer-brand h2 img {
    margin-top: -5px; /* Ajusta el valor según lo necesites */
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.footer-brand h2 {
    font-size: 18px;
    font-weight: bold;
    color:  #141414;
    display: inline-flex;
    
    
    gap: 5px;
    transition: transform 0.3s ease-in-out;
    

}
.footer-brand h2:hover {
    transform: scale(1.1); /* Hace crecer el conjunto sin que el logo se desplace */
}

.footer-brand {
    position: relative;
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    align-items: flex-start; /* Alinea todo a la izquierda */
}


   /* left: -100px; /* Ajusta el valor según lo que necesites */

.footer-brand p {
    font-size: 14px;
    color: #5a6274;
    
}

.btn-subscribe {
    background: linear-gradient(180deg, #4285F4, #1A73E8); /* Degradado azul */
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 26px; /* Aumentamos el padding para compensar el borde interno */
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    
    /* Simula un marco blanco puro dentro del botón */
    box-shadow: inset 0 0 0 3px white, /* Borde interno blanco puro */
                0 0 18px rgba(255, 255, 255, 0.8); /* Brillo exterior sutil */

    
}

.btn-subscribe:hover {
    transform: scale(1.05);
    box-shadow: inset 0 0 0 3px white, /* Mantiene el marco interno blanco puro */
                0 0 18px rgba(255, 255, 255, 1); /* Brillo más fuerte al hacer hover */
    background: linear-gradient(180deg, #5A95F5, #2C7BE5);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
}

.footer-column h3 {
    font-family: "yrsa", serif;
    font-size: 19px;
    color: #0a0a0a;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 15px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #5a6274;
    font-size: 14px;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-column ul li a:hover {
    
    color: #2a4dd0;
    transform: translateY(-5px); /* Desplazamiento hacia arriba */
}


/* Footer bottom */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #5a6274;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.footer-column {
    text-align: left; /* Fuerza la alineación a la izquierda */
}

/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Variables de colores */
:root {
    --primary-color: #007bff;
    --secondary-color: #00bfff;
    --background-light: #fff;
    --text-dark: #333;
    --text-light: #555;
}


.btn:hover {
    background: #0056b3;
    transform: scale(1.05);
}



img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.2);
}

h1 {
    font-size: 2.5em;
}

/* 
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    
}

/* Cuando la sección entra en pantalla
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
    
}*/


.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

a, button, input, textarea {
    outline: none;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline: 3px solid #007bff; /* Borde azul visible al seleccionar */
    outline-offset: 3px;
}

.community-dashboard {
    text-align: center;
    padding: 80px 20px;
    
}
.community-dashboard h2 {
    margin-bottom: 43px;
    font-family: 'Merriweather', serif;
    font-weight: 100; 
    font-size: 40px; 
    color: #122859;
}
.community-dashboard p {
    margin-bottom: 55px;
    font-family: "poppins", sans-serif;
    color: #5f6c7a;


}
.community-dashboard .stats p {
    font-family: "poppins", sans-serif;
    color: #4285f4;
}
.community-dashboard .stats h3 {
    margin-bottom: 20px;
    font-family:  'Merriweather', serif;
    font-weight: 100; 
    color: #122859;
    font-size: 36px; 
}

.community-dashboard .avatars {
    
    margin-bottom: 45px;
   
}
.community-dashboard .avatars img {
    margin: 0 1px; /* Ajusta este valor según lo que necesites */
}

.community-dashboard .avatars img:nth-child(2) {
    width: 85px;  /* Tamaño mayor para el avatar central */
    height: 85px;
    margin-top: -15px; /* Ajusta el valor según lo necesites */
}

.avatars {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.avatars img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666;
}


.btn-primary {
    background-color: #ffffff;
    background: #1B73F2;
    color: white;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin: 20px 0;
}


.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.stats h3 {
    font-size: 22px;
    color: #000;
}

.stats p {
    font-size: 14px;
    color: #666;
}











/*boton de la segunda seccion */

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 55px;
}


.custom-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    
}
.custom-button:hover {
    background-color: #f0f0f0;
    border-color: #999;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.icon {
    width: 20px;
    height: 20px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color:  #ddd;
    transition: width 0.4s ease-in-out;
    

}
.button-container:hover .line {
    width: 50px;
}
.top-line {
    border: none;               /* Elimina el borde predeterminado */
    border-top: 1px solid #ddd; /* Crea una línea fina y gris */
    margin-bottom: 20px;        /* Separa la línea del contenido de abajo */
}



.line-container {
    margin-top: 45px;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-text {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.logo-text:hover {
    transform: scale(1.05);
    border-color: #999;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}


.logo-text img {
    width: 20px; /* Ajusta según el tamaño del logo */
    height: auto;
    margin-right: 8px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin-left: 10px;

    transition: width 0.4s ease-in-out;
}

.line-container:hover .line {
    width: 50px;
}
